/* * {
  border: 2px solid blueviolet;
} */

html {
  box-sizing: border-box;
  padding: 2rem;
  font-family: "Kanit", sans-serif;
}

h3 {
  margin-top: 2rem;
}

/*=========input section=============*/
.input-section {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

#text-input {
  width: 18vw;
}

/*=========filter section=============*/

.filter_section {
  display: flex;
  flex-direction: column;
}
/* justify-content: space-around; */
/* gap: 2rem; */
/* height: 20vh;
} */

.radioBtn {
  width: 10vw;
}

/*=========list section=============*/
li {
  margin-top: -15px;
  margin-right: 15px;
}
